<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">카드 추가</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/members">Home</a></li>
                        <li class="breadcrumb-item active">카드 추가</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">카드 정보 입력</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form action="member.html" th:action th:object="${card}" method="post">

<!--                            <div th:if="${#fields.hasGlobalErrors()}">-->
<!--                                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류-->
<!--                                    메시지</p>-->
<!--                            </div>-->

                            <div class="card-body">

                                <div class="form-group">
                                    <label for="gameId">게임 선택</label>
                                    <select id="gameId" class="form-control" th:field="*{gameId}" th:errorclass="field-error">
                                        <option value="">게임을 선택해주세요.</option>
                                        <option th:each="game : ${games}" th:value="${game.id}"
                                                th:text="${game.name}">유희왕</option>
                                    </select>
                                    <div class="field-error" th:errors="*{gameId}"></div>
                                </div>

                                <div class="form-group">
                                    <label for="title">카드 이름</label>
                                    <input type="text" id="title" th:field="*{title}" class="form-control"
                                           placeholder="카드 이름을 입력해주세요." th:errorclass="field-error" />
                                    <div class="field-error" th:errors="*{title}"></div>
                                </div>
                                <div class="form-group">
                                    <label for="price">가격</label>
                                    <input type="text" id="price" th:field="*{price}" class="form-control"
                                           placeholder="가격을 입력해주세요." th:errorclass="field-error" />
                                    <div class="field-error" th:errors="*{price}"></div>
                                </div>
<!--                                <input type="hidden" name="memberId" th:value="${memberId}" />-->
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">등록</button>&nbsp;
                                <button type="button" class="btn btn-primary">취소</button>
                            </div>

                        </form>

                        <!-- /.card -->
                    </div>
                </div>
            </div><!--/. container-fluid -->
        </div>
    </section>
    <!-- /.content -->
</div>

</html>